.gradient-navbar {
  background: linear-gradient(270deg, #5D3A00, #D7C4A3);
}


.brand-group {
  display: flex;
  align-items: center;
  gap: 20px;   
  text-align: center;
  font-size: 40px;
}

.head-image {
  height: 100px;
  width: 100px;
}

.nav-link {
  font-size: 26px;
  color: #222 ;
  transition: color 0.2s;
}

.nav-link:hover,
.nav-link.active {
  color: #5D3A00 !important;
  text-decoration: underline;
}

.separator-bar {
  height: 5px;
  background: #000;
  width: 100%;
}

@media (min-width: 768px) and (max-width: 1000px) {
  .nav-link {
    font-size: 18px;
}
  .brand-group {  
  font-size: 24px;     
}
.head-image {
  height: 80px;
  width: 80px;
} 
}


@media (max-width: 768px) {
  .nav-link {
    font-size: 18px;
}
  .brand-group { 
  font-size: 40px;     
}
.head-image {
  height: 10px;
  width: 70px;
} 
}